.tabs.tab-count-6 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

@media (max-width: 520px) {
  .tabs.tab-count-6 {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
